layout: index
description: CaptainHook Tweak、Logos Tweak and Command-line Tool、Patch iOS Apps, Without Jailbreak.
subtitle: 越狱、非越狱逆向开发神器
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-upload
      h3.intro-feature-title iOSOpenDev升级版
      p.intro-feature-desc 解决iOSOpenDev的各种问题，兼容最新theos和Xcode.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-refresh
      h3.intro-feature-title 一键集成
      p.intro-feature-desc 自动集成class-dump、restore-symbol、Reveal、Cycript和注入的动态库并重签名安装到非越狱机器.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-legal
      h3.intro-feature-title 高级调试
      p.intro-feature-desc 支持App和动态库调试、完美使用Xcode提供的高级调试功能.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-group
      h3.intro-feature-title 非越狱插件商店
      p.intro-feature-desc 支持通过CocoaPods集成第三方SDK、一键集成广大网友开发的非越狱插件.